h1 { color: #0d79c6; font-family: Verdana, Arial, sans-serif; }
h2 { color: #0d79c6; font-family: Verdana, Arial, sans-serif; }
h3 { color: #0d79c6; font-family: Verdana, Arial, sans-serif; }
h4 { color: #0d79c6; font-family: Verdana, Arial, sans-serif; }
p { font-family: Verdana, Arial, sans-serif; }
